ul.a {
	list-style-type: none;
}
body {
	color:grey;
	font-family: "Tahoma", Geneva, sans-serif;
	font-size: 12pt;
}

h1 {
	font-size: 16 pt;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

h2 {
	font-size: 14pt;
	color:black;
}

h3 {
	color: black;
}

